<h2><%= link_to @competition.name, competition_path(@competition) %></h2>
<%= @competition.gender %>  <%= @competition.division %><br>

<h3>Add Athlete</h3>

<div>
  <%= form_for [@competition, @bib] do |f| %>
    <%= f.label :athlete_id, "Athlete" %>
    <%= f.collection_select :athlete_id, @athletes, :id, :name_last_first,
      include_blank: true %>

    <%= f.label :number, "Bib Number" %>
    <%= f.text_field :number %>

    <%= f.submit "Add Athlete", class: "button small" %>
  <% end %>
</div>

<h3>Registered Athletes</h3>

<table class="center">
  <thead>
    <tr>
      <th>Bib</th>
      <th>Athlete</th>
      <th>Year</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @bibs.each do |bib| %>
      <tr>
        <td><%= bib.number %></td>
        <td><%= bib.athlete.name_last_first %></td>
        <td><%= bib.athlete.date_of_birth.year %></td>
        <td><%= bib.athlete.team %></td>
        <td><%= link_to "Edit Bib", edit_bib_path(bib) %></td>
        <td><%= link_to "Remove Athlete", bib_path(bib),
          method: :delete,
          data: { confirm: "This will remove athlete from competition" }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
