<h2>New Competition</h2>

<%= form_for @competition do |f| %>
  <%= f.label :name, 'Name*'%>
  <%= f.text_field :name %>

  <%= f.label :start_date, 'Start Date*' %>
  <%= f.date_field :start_date %>

  <%= f.label :end_date, 'End Date' %>
  <%= f.date_field :end_date %>

  <%= f.label :gender %>
  <%= f.select :gender, ["Female", "Male", "Mixed"], include_blank: true %>

  <%= f.label :division %>
  <%= f.text_field :division %>

  <%= f.label :gym, 'Host Gym' %>
  <%= f.text_field :gym %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.select :state, @states, include_blank: true %>

  <p>* Only name and start date are required. </p>

  <%= f.submit "Create Competition", class: "button small" %>
<% end %>
