<h2><%= @competition.name %></h2>

<h5>
  <%= @competition.gender %>&nbsp;
  <%= @competition.division %>
  <br>
  <%= @competition.gym %>&nbsp;
  <%= @competition.city %>&nbsp;
  <%= @competition.state %>
  <br>
  <%= @competition.start_date.strftime(format='%D') %>&nbsp;
  <% if @competition.end_date %>
    -&nbsp;<%= @competition.end_date.strftime(format='%D') %>
  <% end %>
</h5>

<br>
<% if current_user == @competition.user %>
  <%= link_to "Add Round", new_competition_round_path(@competition), class: "button small" %>
  <%= link_to "Register Athletes", competition_bibs_path(@competition), class: "button small" %>
  <%= link_to "Edit Competition", edit_competition_path(@competition), class: "button small" %>
<% end %>

<h5>
  Rounds:&nbsp;
  <% @competition.rounds.each do |round| %>
    <%= link_to round.name, round_path(round) %>&nbsp;
  <% end %>
</h5>

<% unless @competition.final_round.nil? %>
  <table class="center">
    <thead>
      <tr>
        <th>Standing</th>
        <th>Athlete</th>

        <% if @competition.final_round.single_route? %>
          <th>
            <%= link_to @competition.final_round.routes.first.name,
              route_path(@competition.final_round.routes.first) %>
          </th>
          <th>Attempts</th>
        <% else %>
          <th>Tops</th>
          <th>Round Score</th>
          <% @competition.final_round.routes.each do |route| %>
            <th><%= link_to route.name, route_path(route) %></th>
          <% end %>
        <% end %>

        <% @competition.rounds.each do |round| %>
          <% unless round == @competition.final_round %>
            <th>
              <%= link_to round.name, round_path(round) %><br>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @competition.leaderboard.each_with_index do |r_score, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= link_to r_score.athlete.name_last_first, athlete_path(r_score.athlete) %></td>
          <% if @competition.final_round.single_route? %>
            <td><%= @competition.final_round.routes.first.score_display(r_score.athlete) %></td>
            <td><%= @competition.final_round.routes.first.attempts_to_highpoint(r_score.athlete) %></td>
          <% else %>
            <td><%= r_score.tops %></td>
            <td><%= r_score.score %></td>
            <% @competition.final_round.routes.each do |route| %>
              <td><%= route.athlete_rank(r_score.athlete) %></td>
            <% end %>
          <% end %>

          <% @competition.rounds.reverse_each do |round| %>
            <% unless round == @competition.final_round %>
              <th> <%= round.round_score(r_score.athlete) %></th>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <% unless @competition.final_round.single_route? %>
      *Sum of attempts to highpoint on each route in round
      <br>Route scores displayed as "score(attempts to highpoint)"
    <% else %>
      *Attempts to highpoint
    <% end %>
  </p>
<% else %>
  <h3>Start List</h3>

  <table class="center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Gender</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @competition.athletes.each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name_last_first, athlete_path(athlete) %></td>
          <td><%= athlete.date_of_birth.year %></td>
          <td><%= athlete.gender %></td>
          <td><%= athlete.team %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
