<div>
  <%= form_for [@competition, @round] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :number, "Round Number" %>
    <%= f.number_field :number %>
    <p>(In a two-round competition, qualifiers would be "1" and finals would be "2")

    <%= f.submit (f.object.new_record? ? "Create Round" :
      "Update Round"), class: "button tiny success" %>
  <% end %>
</div>
