<h2><%= link_to @competition.name, competition_path(@competition) %></h2>
 - <%= @round.name %> (Round <%= @round.number %>)
</h2>
<%= @competition.gender %>  <%= @competition.division %><br>

<br>
<% if current_user == @competition.user %>
  <%= link_to "Add Route", new_round_route_path(@round), class: "button tiny" %>
  <%= link_to "Edit Round", edit_round_path(@round), class: "button tiny" %>
<% end %>

<ul>

</ul>

<table>
  <thead>
    <tr>
      <th>Standing</th>
      <th>Athlete</th>
      <th>Sends</th>
      <th>Total Score</th>
      <th>Flashes</th>
      <th>Total Attempts to Highpoints</th>
      <% @round.routes.each do |route| %>
        <th>
          <%= link_to route.name, route_path(route) %><br>
          Score (Attempts to Highpoint)
        </th> Points
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @round.leaderboard.each_with_index do |athlete, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to attempt.athlete.name_last_first, athlete_path(attempt.athlete) %></td>
        <td><%= attempt.sends %></td>
        <td><%= attempt.total_score %></td>
        <td><%= attempt.flashes %></td>
        <td><%= attempt.total_attempts_to_highponts %></td>
        <% @round.routes.each do |route| %>
          <tr>
            <%= route.score(athlete) %> (<%= route.attempts_to_highpoint(athlete) %>)
          </tr> Points
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
