<div>
  <%= form_for @athlete do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth %>

    <%= f.label :gender %>
    <%= f.select :gender, ["Female", "Male", "Other"] %>

    <%= f.label :team %>
    <%= f.text_area :team %>

    <%= f.submit "Add Athlete" %>
  <% end %>
</div>
