<h2>
  <%= link_to @route.round.competition.name, competition_path(@route.round.competition) %> –
  <%= link_to "#{@route.round.name} (Round #{@route.round.number})", round_path(@route.round) %>
</h2>

<h5>
  <%= @route.round.competition.gender %>&nbsp;
  <%= @route.round.competition.division %>
</h5>

<h2>Edit Route: <%= link_to @route.name, route_path(@route) %></h2>

<div>
  <%= form_for @route do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :max_score, "Maximum Score" %>
    <%= f.number_field :max_score, step: 0.01 %>

    <%= f.submit "Update Route", class: "button small" %>
  <% end %>
</div>

<p>
  <%= link_to "Delete Route", route_path(@route), method: :delete,
    data: { confirm: "This will delete route permanently" } %>
</p>
