<h2>
  <%= link_to @round.competition.name, competition_path(@round.competition) %> –
  <%= link_to "#{@round.name} (Round #{@round.number})", round_path(@round) %>
</h2>

<h5>
  <%= @round.competition.gender %>&nbsp;
  <%= @round.competition.division %>
</h5>

<h2>Create New Route</h2>

<div>
  <%= form_for [@round, @route] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :max_score, "Maximum Score" %>
    <%= f.number_field :max_score, step: 0.01 %>

    <%= f.submit "Create Route", class: "button small" %>
  <% end %>
</div>
