<h2>
  <%= @competition.name %> - <%= link_to @round.name, round_path(@round) %>
  (Round <%= @round.number %>)
</h2>
<%= @competition.gender %>  <%= @competition.division %><br>

<h3><%= @route.name %></h3>

<br>
<% if current_user == @competition.user %>
  <%= link_to "Record Attempt", new_route_attempt_path(@route), class: "button tiny" %>
  <%= link_to "Edit Route", edit_route_path(@route), class: "button tiny" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Standing</th>
      <th>Athlete</th>
      <th>Route Score</th>
      <th>Attempts to Highpoint</th>
    </tr>
  </thead>
  <tbody>
    <% @route.highpoints.each_with_index do |hp, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to hp.athlete.name, athlete_path(hp.athlete) %></td>
        <td><%= hp.score %></td>
        <td><%= hp.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "All Attempts", route_attempts_path(@route) %>
