<h2>
  <%= @route.round.competition.name %> - <%= link_to @route.round.name, round_path(@route.round) %>
  (Round <%= @route.round.number %>)
</h2>
<%= @route.round.competition.gender %>  <%= @route.round.competition.division %><br>

<h3>
  <%= @route.name %><br>
  Maximum score: <%= @route.max_score %>
</h3>

<br>
<% if current_user == @route.round.competition.user %>
  <%= link_to "Record Attempt", new_route_attempt_path(@route), class: "button tiny" %>
  <%= link_to "Edit Route", edit_route_path(@route), class: "button tiny" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Ranking Points</th>
      <th>Athlete</th>
      <th>Route Score</th>
      <th>Attempts to Highpoint</th>
    </tr>
  </thead>
  <tbody>
    <% @route.leaderboard.each do |r_rank| %>
      <tr class=<% r_rank.highpoint.css_class %>>
        <td><%= r_rank.rank %></td>
        <td><%= link_to r_rank.athlete.name_last_first, athlete_path(r_rank.athlete) %></td>
        <td><%= r_rank.highpoint.score_display %></td>
        <td><%= r_rank.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "All Attempts", route_attempts_path(@route) %>
