<h2>
  <%= link_to @route.round.competition.name, competition_path(@route.round.competition) %> –
  <%= link_to "#{@route.round.name} (Round #{@route.round.number})", round_path(@route.round) %>
</h2>

<h5>
  <%= @route.round.competition.gender %>&nbsp;
  <%= @route.round.competition.division %>
</h5>

<h2>Route: <%= @route.name %></h2>

<h5>Maximum score: <%= @route.max_score %></h5>

<% if current_user == @route.round.competition.user %>
  <div>
    <%= form_for [@route, @attempt] do |f| %>
      <%= f.label :athlete_id, "Athlete" %>
      <%= f.select :athlete_id,
        options_from_collection_for_select(
          @route.competition.athletes.order(:last_name),
          :id,
          :name_last_first,
          @athlete.try(:id)
        ), include_blank: true
      %>

      <%= f.label :score %>
      <%= f.number_field :score, step: 0.01 %>

      <%= f.submit "Record Attempt", class: "button small" %>
    <% end %>
  </div>
<% end %>

<table class="center">
  <thead>
    <tr>
      <th>Ranking Points</th>
      <th>Athlete</th>
      <th>Route Score</th>
      <th>Attempts*</th>
    </tr>
  </thead>
  <tbody>
    <% @route.leaderboard.each do |r_rank| %>
      <tr class=<% r_rank.highpoint.css_class %>>
        <td><%= r_rank.rank %></td>
        <td><%= link_to r_rank.athlete.name_last_first, athlete_path(r_rank.athlete) %></td>
        <td><%= r_rank.highpoint.score_display %></td>
        <td><%= r_rank.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>* Attempts to Highpoint</p>

<%= link_to "All Attempts", route_attempts_path(@route), class: "button small" %>

<% if current_user == @route.round.competition.user %>
  <%= link_to "Edit Route", edit_route_path(@route), class: "button small" %>
<% end %>
