<h2>Edit Attempt<h2>

  <div>
    <%= form_for @route do |f| %>
      <%= f.label :athlete_id, "Athlete" %>
      <%= f.collection_select :athlete_id, @athletes, :id, :name_last_first %>

      <%= f.label :score %>
      <%= f.number_field :score, step: 0.01 %>

      <%= f.submit "Edit Attempt", class: "button tiny success" %>
    <% end %>
  </div>
