<h2>Edit Attempt <%= @attempt.number %> for <%= @attempt.athlete.name %> <h2>

<h5>
  Recorded at: <%= @attempt.created_at %>
  <% unless @attempt.created_at == @attempt.updated_at %>
    Edited at: <%= @attempt.updated_at %>
  <% end %>
</h5>

<div>
  <%= form_for @attempt do |f| %>
    <%= f.label :athlete_id, "Athlete" %>
    <%= f.collection_select :athlete_id,
      @route.round.competition.athletes.order(:last_name),
      :id, :name_last_first, include_blank: true %>

    <%= f.label :score %>
    <%= f.number_field :score, step: 0.01 %>

    <%= f.submit "Edit Attempt", class: "button tiny success" %>
  <% end %>
</div>

<p>
  <%= link_to "Delete Attempt", attempt_path(@attempt), method: :delete,
    data: { confirm: "This will delete attempt permanently" } %>
</p>

<%= link_to "Back to All Attempts", route_attempts_path(@route) %>
