<h2>
  <%= @route.competition.name %> - <%= link_to @route.round.name, round_path(@route.round) %>
  (Round <%= @route.round.number %>)
</h2>

<h5>
  <%= @route.competition.gender %>&nbsp;
  <%= @route.competition.division %>
<br>

<h2>Route: <%= link_to @route.name, route_path(@route)%></h2>

<h4>All Attempts</h4>
<h5>Maximum score: <%= @route.max_score %></h5>

<table class="center">
  <thead>
    <tr>
      <th>Athlete</th>
      <th>Score</th>
      <th>Attempt #</th>
      <% if current_user == @route.competition.user %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @route.attempts.each do |attempt| %>
      <tr class=<% attempt.class %>>
        <td><%= attempt.athlete.name %></td>
        <td><%= attempt.score %></td>
        <td><%= attempt.number %></td>

        <% if current_user == @route.round.competition.user %>
          <td><%= link_to "Edit Attempt", edit_attempt_path(attempt) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
