<h2>
  <%= link_to @route.competition.name, competitions_path(@route.competition) %> -
  <%= link_to "#{@route.round.name} (Round #{@route.round.number})", round_path(@route.round) %>

</h2>

<h5>
  <%= @route.competition.gender %>&nbsp;
  <%= @route.competition.division %>
<br>

<h2></h2>

<h2>Record Attempt on Route: <%= link_to @route.name, route_path(@route)%></h2>

<div>
  <%= form_for [@route, @attempt] do |f| %>
    <%= f.label :athlete_id, "Athlete" %>
    <%= f.collection_select :athlete_id,
      @route.round.competition.athletes.order(:last_name),
      :id, :name_last_first, include_blank: true %>

    <%= f.label :score %>
    <%= f.number_field :score, step: 0.01 %>

    <%= f.submit "Record Attempt", class: "button small" %>
  <% end %>
</div>
